[Unit]
Description=Skin Downloader

[Service]
User = root
Group = root
Type = simple
WorkingDirectory=/home/lm/chronos
ExecStart=/home/lm/chronos/skin-downloader
Restart = always
RestartSec = 60
[Install]
WantedBy=multi-user.target